html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#contact_modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000006b;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 5em auto;
}

.modal h2 {
    font-size: 64px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header div h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

.modal header div {
    display: flex;
    flex-direction: column;
    align-items: start;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2em;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
}

.photographerImg {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 2em;
}

.name {
    font-size: 64px;
    color: #D3573C;
}

.city {
    font-size: 24px;
    color: #901C1C;
    margin-top: 1em;
    margin-bottom: 1em;
}

.tagline {
    font-size: 18px;
    color: #525252;
}

label {
    font-size: 36px;
    margin-bottom: 5px;
}

textarea, input {
    font-size: 24px;
    width: 100%;
}

.photograph-header > div {
    flex: 1;
}

.photograph-header div:nth-child(1) {
    margin-left: 2em;
}

.photograph-header div:nth-child(2) {
    display: flex;
    justify-content: center;
}

.photograph-header div:nth-child(3) {
    display: flex;
    justify-content: flex-end;
}

.photograph-header div:nth-child(2) img {
    margin-right: 2em;
}

.photograph-gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 2.5em 100px 0 100px;
    column-gap: 20em;
}

.photograph-gallery::after {
    content: "";
    width: 350px;
}

.photographImg {
    width: 350px;
    height: 300px;
    border-radius: 0.4em;
    object-fit: cover;
}

.photograph {
    margin-bottom: 3em;
}

.details {
    display: flex;
    justify-content: space-between;
}

.details h3, p {
    font-size: 24px;
    color: #901C1C;
    text-overflow: ellipsis;
    max-width: 275px;
    text-wrap: nowrap;
    overflow: hidden;
    line-height: 30px;
}

.details p {
    display: flex;
    column-gap: 10px;
}

.closeBtn {
    background: transparent;
    border: none;
}

.videoGallery {
    width: 350px;
    height: 300px;
    border-radius: 0.4em;
    object-fit: cover;
}

.filters {
    margin: 2.5em 100px;
}

.filters label {
    font-size: 18px;
    font-weight: 700;
}

.filters select {
    color: #FFFFFF;
    border-radius: 0.4em;
    background-color: #901C1C;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .9);
    z-index: 100;
    overflow: auto;
    animation: lightboxIn .5s;
    transition: opacity .3s;
    display: flex;
    justify-content: center;
}

.lightbox.fadeOut {
    opacity: 0;
}

.lightbox__next,
.lightbox__prev {
    border: none;
    background: url(../assets/images/arrow.svg) center center / 100% 100%;
    width: 40px;
    height: 60px;
    position: fixed;
    top: calc(50% - 30px);
    right: 27px;
    margin-top: -14px;
    z-index: 11;
    text-indent: -3000px;
}

.lightbox__prev {
    right: auto;
    left: 27px;
    transform: rotate(180deg);
}

.lightbox__close {
    width: 42px;
    height: 42px;
    border: none;
    background: url(../assets/icons/close.svg);
    position: fixed;
    text-indent: -3000px;
    top: 80px;
    right: 27px;
    z-index: 350;
}

.lightbox button {
    opacity: .5;
    cursor: pointer;
    transition: opacity .3s;
    text-indent: -3000px;
}

.lightbox button:hover {
    opacity: 1;
}

.lightbox__container img {
    max-width: 100%;
    height: auto;
    max-height: 80vh;
    animation: lightboxIn .5s;
}

.lightbox__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    min-height: 100vh;
}

video {
    width: 100%;
    max-width: 1400px;
}

.lightbox__loader {
    width: 38px;
    height: 38px;
    opacity: .5s;
    background: url('../assets/images/loader.svg') center center no-repeat;
}

@keyframes lightboxIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#encart {
    position: fixed;
    bottom: 0px;
    right: 70px;
    background-color: #DB8876;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 0.2em;
    width: 376px;
}

.likes, .price {
    color: black;
    font-weight: bold;
}

.photograph article {
    position: relative;
}

.photograph article .likesText {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10000;
}

.totalCoeur {
    margin-left: 5px;
}

.likesCtn {
    display: flex;
    align-items: center;
}